.portfolio {
  display: flex;
  flex-direction: column;
  margin-bottom: 125px;
}

.portfolio__title {
  margin: 101px 0px 30px;
  padding: 0;
  color: #8B8B8B;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.portfolio__list {
  margin: 0;
  padding: 0;
}

.portfolio__list-point {
  display: flex;
  padding-top: 20px;
  border-bottom: 1px solid rgba(66, 66, 66, 1);
}

.portfolio__list-point:last-child {
  border-bottom: 0;
}

.portfolio__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  padding: 0;
  color: #FFFFFF;
  margin: 0;
  padding-bottom: 19px;
}

.portfolio__link {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-decoration: none;
  transition: opacity 0.4s ease-in-out;
}

.portfolio__link:hover {
  opacity: 0.6;
}

.portfolio__link-img {
  display: flex;
  width: 22px;
  height: 22px;

}

@media screen and (max-width: 1123px) {
  .portfolio {
    margin-bottom: 90px;
  }

  .portfolio__title {
    margin-top: 91px;
  }

  .portfolio__list-point {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
  }

  .portfolio__subtitle {
    font-size: 28px;
    padding-bottom: 19px;
  }

  .portfolio__link-img {
    width: 19px;
    height: 19px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio {
    margin-bottom: 70px;
  }

  .portfolio__title {
    margin-top: 70px;
  }

  .portfolio__list-point {
    border-bottom: 1px solid rgba(230, 230, 230, 1);
  }

  .portfolio__subtitle {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__link-img {
    width: 14px;
    height: 14px;
    padding-top: 10px;
  }
}

