.auth__container {
  width: 400px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
}

.auth__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.auth__logo {
  height: 38px;
  width: 38px;
  transition: opacity 0.4s ease-in-out;
}

.auth__logo:hover {
  opacity: 0.6;
}

.auth__title {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-top: 40px;
}

.auth__form {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
}

.auth__label {
  font-size: 10px;
  line-height: 12px;
  color:#8B8B8B;
  margin-bottom: 24px;
}

.auth__input {
  position: relative;
  outline: none;
  font-size: 14px;
  line-height: 17px;
  color:#FFFFFF;
  background: none;
  border: 0;
  border-bottom: 1px solid rgba(66, 66, 66, 1);
  margin: 5px 0 6px;
  padding: 0;
}
.auth__input:hover {
  border-bottom: 1px solid rgba(66, 133, 244, 1);
}

.auth__error {
  position: absolute;
  margin-top: 40px;
  color:#EE3465;
  max-width: 400px;
}

.auth__form {
  display: flex;
  flex-direction: column;
}

.auth__label {
  display: flex;
  flex-direction: column;
}

.auth__button-auth {
  width: 400px;
  height: 45px;
  background: #4285F4;
  border: none;
  color:#FFFFFF;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-top: 178px;
  transition: opacity 0.4s ease-in-out;
}

.auth__button-auth:hover {
  opacity: 0.6;
  cursor: pointer;
}

.auth__button-auth-disabled{
  opacity: 0.2;
  cursor: auto;
  pointer-events: none;
}

.auth__toreg {
  margin: 0 auto;
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
}

.auth__toreg-titke {
  color:#8B8B8B;
  margin-right: 6px;
}

.auth__toreg-link {
  color:#4285F4;
  text-decoration: none;
  transition: opacity 0.4s ease-in-out;
}

.auth__toreg-link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .auth__container {
    width: 320px;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
  }

  .auth__header {
    margin-top: 56px;
    margin-bottom: 80px;
    align-items: center;
  }

  .auth__title {
    margin-top: 50px;
  }

  .auth__form {
    width: 260px;
    margin-bottom: 65px;
  }

  .auth__button-auth {
    width: 260px;
    margin-top: 200px;
  }

  .auth__toreg {
    margin-top: 14px;
  }

  .auth__error {
    max-width: 260px;
  }
}
